/* Site settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* Colors */
:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: #ffffffdb;
    --main-color: #8338ec;
}

/* HTML settings */
html {
    font-size: 60%;
    overflow-x: hidden;
}

/* Default color */
body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* container */
.container {
    max-width: 1080px;
    margin: auto;
}

.container.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

h2 {
    background: linear-gradient(182deg, #ffffff, white 24%, #ffffff9c 80%);
    background-clip: text;
    color: transparent;
    font-size: 44px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

p {
    font-size: 10px;
}

/* Header Styles */
header {
    padding: 25px;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 10px;

    img {
        width: 50px;
        height: 50px;
    }
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    border: #b996e961 solid;
    border-radius: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px 25px 13px;
    display: flex;
    gap: 25px;

    a {
        font-size: 1.8rem;
        color: #ffffffdb;
        font-weight: 300;
        transition: 0.3s ease-in-out;
        padding-bottom: 1px;
        border-bottom: 2px transparent solid;
    }
}

nav a:hover {
    color: var(--main-color);
    padding-bottom: 1px;
    transition: ease-in-out 0.3s;
    border-bottom: 2px solid var(--main-color);
}

.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 4rem;
    margin: 10px;
    background-color: #8338ec;
    color: var(--text-color);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover {
    transform: scale(1.05);
}

section {
    padding: 80px 24px;
}

/* Home Section */

#home {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .container {
        margin: 0;
        margin-top: 80px;
    }

    img {
        Z-INDEX: 0;
        width: 32%;
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: -143px 10PX 200px #8338ec4a;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        z-index: 1;

        h1 {
            background: linear-gradient(182deg, #ffffff, white 24%, #ffffff9c 80%);
            background-clip: text;
            color: transparent;
            font-size: 58px;
            font-weight: 700;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            line-height: 1;
        }

        p {
            color: #ffffffd1;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.8;
            text-shadow: 0 0 5px #8d59bd8f;
        }
    }
}





/* Icons */
.social-icons {
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        padding: 1rem;
        background: transparent;
        border: 2px solid #7b37ba;
        border-radius: 50%;
        color: #7b37ba;
        margin: 3rem 0.5rem;
        transition: 0.3s ease-in-out;
    }
}

.social-icons a:hover {
    color: #ffffffdb;
    background-color: #7b37ba;
    transform: scale(1.05)translateY(-5px);
}

/* Button Style */
.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    border: #b996e961 solid 2px;
    border-radius: 500px;
    font-size: 1.8rem;
    background-color: #7b37ba47;
    color: var(--text-color);
    /* color: var(--text-color); */
    font-weight: 350;
    transition: 0.3s ease-in-out;
    margin-top: 28px;
}

.btn:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 25px var(--main-color); */
}

.btn-group a:nth-of-type(2) {
    margin-left: 35px;
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--bg-color);
    border-radius: 3rem;
    border-color: 3px solid #8338ec;
    font-size: 1.8rem;
    color: var(--main-color);
    border: 2px solid #8338ec;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn-group a:nth-of-type(2):hover {
    transform: scale(1.2);
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
}

/* About Section Styles */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);

    p {
        width: 82%;
        margin: auto;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8;
        color: var(--text-color);
        text-align: center;
        text-wrap-style: balance;
    }
}

.about-content .btn {
    margin: 3rem 0;
}

/* Services styles */
.heading {
    text-align: center;
    font-size: 6rem;
    margin: 5rem 0;
}

.services {
    position: relative;

    .group {
        display: flex;
        flex-direction: row;
        color: var(--text-color);
        gap: 65px;

        img {
            width: 100%;
            border-radius: 20px;
            border: solid 1px #ffffff5d;
        }
    }

    .titlePara {
        position: sticky;
        top: 0;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 480px;
        p{
            font-size: 14px;
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: sticky;
        top: 0;
        padding-top: 80px;
        
        a {
            width: 100%;
            margin: 0%;
            transition: ease-in-out .3s;
        }
        a:hover{
            transition: ease-in-out .3s;
            transform: scale(1.03);
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .group-2 {
        display: flex;
        flex-direction: row-reverse;
        color: var(--text-color);
        gap: 65px;

        img {
            width: 100%;
            border-radius: 20px;
            border: solid 1px #ffffff5d;
        }
    }
}

.bg-blur.purple2 {
    background-color: #8338ec61;
    top: 20%;
    left: 0%;
}

.bg-blur.pink2 {
    background-color: #9d0f9d85;
    left: 20%;
    bottom: 57%;
}

.bg-blur.purple3 {
    background-color: #8338ec61;
    left: 65%;
    bottom: 25%;
}

.bg-blur.pink3 {
    background-color: #9d0f9d85;
    left: 50%;
    bottom: 15%;
}

.stubborn {
    display: flex;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 600px;
    border-radius: 30px;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
    margin: 15px;
}

.service-box:hover {
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.service-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;

    h3 {
        font-weight: 800;
        margin: 2rem 0;

    }

    p {
        text-align: start;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.7;
    }

    i {
        font-size: 8rem;
    }
}

/* Cards aka Projects Styles */
.projects {
    background-color: var(--second-bg-color);

    h2 {
        text-align: center;
        padding-bottom: 50px;
    }
}

/* .project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;

    img {
        width: 300px;
        height: 160px;
        border-radius: 2rem;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;

    p {
        font-size: 1.6rem;
        text-align: start;
    }
}

.project-card:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
    transform: scale(1.02);
} */
/* Faq styles */
.faq {
    border: solid #8338ec59;
    border-radius: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 230px;

    details {
        padding-bottom: 20px;
        border-bottom: 2px solid #916cc552;
        color: #ffffffc2;
        font-size: 16px;
        text-align: center;
        width: -webkit-fill-available;
        cursor: pointer;
    }
}

summary {
    color: white;
    font-size: 18px;
}

.bg-blur {
    border-radius: 500px;
    height: 400px;
    aspect-ratio: 1;
    position: absolute;
    filter: blur(100px);
    z-index: -1;
    width: 400px;
    opacity: 35%;
}

.bg-blur.light-top {
    background-color: #7b37ba;
    width: 800px;
    height: 50px;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
}

.bg-blur.white {
    background-color: #8338ec61;
    left: 15%;
    bottom: -10%;
}

.bg-blur.purple {
    background-color: #9d0f9d85;
    top: 10%;
    left: 5%;
}

/* Contact */
.Contact {
    position: relative;

    h2 {
        margin-bottom: 3rem;
        text-align: center;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        text-align: center;
    }
}

.contact-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 370px;
        height: 370px;
        opacity: .85;
    }
}

.formCard {
    width: 653px;
}

.Contact form .input-box input,
.Contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid #8338ec59;
    margin: 1.5rem 0;
    resize: none;
}

/* Footer Styles */
footer {
    padding: 50px 0;

    ul {
        text-align: center;
        font-size: 1.8rem;

    }

    li {
        display: inline-block;
        margin-left: 20px;
    }

    a {
        color: white;
        border-bottom: 3px solid transparent;
        transform: 0.3s ease-in-out;
    }
}

footer ul li a:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #7b37ba;
}

footer .social-icons {
    text-align: center;
}

footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

@media(max-width: 1285px) {
    #menu-icon {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;

        a {
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
        }
    }

    /* .navbar.active{
        display: block;
    }
    .gradient-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img{
        img{
            width:  32vw;
        }
    }
    .stubborn{
        flex-direction: column-reverse;
        align-items: center;
        width: 350px;
        margin: 5rem 0;
        gap: 5rem;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
        h2{
            text-align: center;
            margin: 2rem 0;
        }
        img{
            width: 28vw;
        }
    }
    .Contact{
        form{
            flex-direction: column;
        }
    }  */
}